.post-common-footer {
  // .post-common-footer__back

  &__back {
    margin-top: 20px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(102, 102, 102, 0.315);
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 10%) 3px 3px 3px;
    padding: 10px;
    display: flex;
    & > ._back-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      & > img {
        width: 32px;
        height: 32px;
        margin-right: 5px;
      }
      & > p {
        font-weight: bold;
      }
    }
  }
}
