.post-admin-panel {
  display: flex;
  text-align: center;
  padding: 10px 0px;
  background-color: #cdcdcd;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
  margin-top: 10px;
  justify-content: center;

  &__item {
    display: flex;
    border-left: 1px solid rgba(134, 133, 133, 0.337254902);
    padding: 0 5px;
    cursor: pointer;
    align-items: center;
    & > input {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
