@font-face {
  font-family: "Colus";
  src: url("./fonts/colus/ofont.ru_Colus.eot");
  src: local("☺"), url("./fonts/colus//ofont.ru_Colus.woff") format("woff"),
    url("./fonts/colus//ofont.ru_Colus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dreamcast";
  src: url("./fonts/dreamcast/ofont.ru_Dreamcast.eot");
  src: local("☺"),
    url("./fonts/dreamcast/ofont.ru_Dreamcast.woff") format("woff"),
    url("./fonts/dreamcast/ofont.ru_Dreamcast.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hero";
  src: url("./fonts/hero/ofont.ru_Hero.eot");
  src: local("☺"), url("./fonts/hero/ofont.ru_Hero.woff") format("woff"),
    url("./fonts/hero/ofont.ru_Hero.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antique";
  src: url("./fonts/antique/ofont.ru_Uk_Antique.eot");
  src: local("☺"),
    url("./fonts/antique/ofont.ru_Uk_Antique.woff") format("woff"),
    url("./fonts/antique/ofont.ru_Uk_Antique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Miama";
  src: url("./fonts/miama/ofont.ru_Miama Nueva.eot");
  src: local("☺"), url("./fonts/miama/ofont.ru_Miama Nueva.woff") format("woff"),
    url("./fonts/miama/ofont.ru_Miama Nueva.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
