@import "./_fonts";
@import "./custom";
@import "./const";
@import "./_animations";

body {
  display: flex;
  flex-direction: column;
  background-color: #eae5e4;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.container {
  @extend %variable-maxWidth;
  margin: 0 auto;
}

._role {
  &._noob {
    color: black;
  }
  &._user {
    font-weight: bold;
    color: black;
    text-shadow: black 1px 1px 10px;
  }
  &._moder {
    font-weight: bold;
    color: blue;
    text-shadow: blue 1px 1px 10px;
  }
  &._admin {
    font-weight: bold;
    color: red;
    text-shadow: red 1px 1px 10px;
  }
}

.workplace {
  width: 100%;
  min-height: calc(100vh - 275px);
  background-color: #eae5e4;
  padding: 20px 30px;
}

.back-drop {
  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: flex;
    flex-direction: column;
  }
  &__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    flex-direction: column;
  }
  &__small-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 100;
    display: flex;
    flex-direction: column;
  }
}

[data-tooltip] {
  position: relative;
  &:hover::before {
    opacity: 1;
    top: -11px;
    left: 50%;
    right: auto;
    transition: all 0.2s ease;
  }
  &:hover::after {
    opacity: 1;
    top: -11px;
    left: 50%;
    right: auto;
    transition: all 0.2s ease;
  }
  &::before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    right: -1000px;
    font-family: "Times New Roman", Times, serif;
    transform: translateY(-100%) translateX(-50%);
    text-align: center;
    font-weight: lighter;
    transition: all 0.2s ease;
    white-space: nowrap;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    border-width: 7px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    right: -1000px;
    transform: rotate(0deg) translateX(-50%);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 10;
  }
}

[data-tooltip-left] {
  position: relative;
  &::before {
    position: absolute;
    content: attr(data-tooltip-left);
    opacity: 0;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    right: -1000px;
    font-family: "Times New Roman", Times, serif;
    transform: translateY(-100%) translateX(-70%);
    text-align: center;
    font-weight: lighter;
    transition: all 0.2s ease;
    white-space: nowrap;
  }

  &::after {
    content: "";
    position: absolute;
    border-width: 7px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    right: -1000px;
    transform: rotate(0deg);
    opacity: 0;
    transition: all 0.2s ease;
  }
  &:hover::before {
    opacity: 1;
    top: -11px;
    left: 0;
    right: auto;
    transition: all 0.2s ease;
  }
  &:hover::after {
    opacity: 1;
    top: -11px;
    left: 0;
    right: auto;
    transition: all 0.2s ease;
  }
}
