.likes {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(102, 102, 102, 0.315);
  box-shadow: rgb(0 0 0 / 10%) 3px 3px 3px;
  color: #666666;
  width: 90%;
  // .likes__header

  &__header {
    font-size: 24px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > img {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }

  // .likes__content

  &__content {
    border-top: 3px solid #4f4f4f;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    row-gap: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
  }
}
