.content-nav-bar {
  &__content-list {
    width: 100%;
  }

  &__content-wrapper {
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(102, 102, 102, 0.315);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  // .admin-panel__content-header

  &__content-header {
    background-color: #4a4a4a;
    color: white;
    padding: 10px;
  }

  // .admin-panel__content-item

  &__content-item {
    margin-top: 3px;
    padding: 10px;
    cursor: pointer;
    &._active {
      background: rgba(102, 102, 102, 0.08);
      font-weight: bold;
    }
  }
}
