.input-warn {
  // .input-warn__wrapper

  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: 25px;
  }

  // .input-warn__input

  &__input {
    margin-top: 8px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(
      to bottom,
      rgba(102, 102, 102, 0.05) 0%,
      rgba(102, 102, 102, 0.05) 100%
    );
    border-color: rgba(102, 102, 102, 0.35);
    box-shadow: inset rgb(102 102 102 / 12%) 0px 1px 3px;

    &._active {
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    }
    &._error {
      border-color: #e96666;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(233, 102, 102, 0.6);
    }
  }

  // .input-warn__tooltip

  &__tooltip {
    position: relative;
    z-index: 2;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      border-width: 7px 8px 0 8px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
      top: 0px;
      left: 50%;
      transform: rotate(0deg) translateX(-50%);
      transition: all 0.2s ease;
    }
    &::before {
      position: absolute;
      content: attr(data-inputtooltip);
      background-color: black;
      color: white;
      padding: 10px;
      font-size: 14px;
      top: 0px;
      left: 50%;
      font-family: "Times New Roman", Times, serif;
      transform: translateY(-100%) translateX(-50%);
      text-align: center;
      font-weight: lighter;
      transition: all 0.2s ease;
    }
  }
}
