.topic-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(170, 169, 169, 0.385);

  &__content {
    display: flex;
    align-items: center;
  }

  // .topic-item__icon

  &__icon {
    width: 21px;
    height: 21px;
  }

  // .topic-item__title

  &__title {
    width: 100%;
    padding: 0 20px;
    & ._title {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  // .topic-item__sub-title-list

  &__sub-title-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    row-gap: 10px;

    & ._sub-title {
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // .topic-item__message-info

  &__message-info {
    padding: 0 30px;
    color: #a4a4a4;
    text-align: center;
    & h1 {
      font-size: 22px;
    }
    & p {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
